@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  margin: 0;
}

:root {
  --left-column-bg-color: #383F51;
}

.left-column {
  background-color: var(--left-column-bg-color);
}

.pagedjs_page_content>div {
  display: flex;
  height: 100%;
}